@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  
}
body{
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  
}



 .nav-list{
display: flex; 

} 
.collapse{

  justify-content: center;
  
  
}

 .navbar-nav{
   gap: 10px;
 }
 .nav-last{
  display: flex;
  align-items: center;
  text-align: center;
  
 }
 .r1{
  position: absolute;
  
  display: flex;
 }
 .landing span{
  font-family: MD Nichrome test;
  font-size: 190%;
  font-weight: 1000;

 }
 .p3{
  position: relative;
  top:-20px ;
  right: 230px;
 }
 .p17{
  position: relative;
  top: 62px;
  right: 145px;
 }
 .p4{
  position: relative;
  top: 500px;
 
  z-index: -9;
  width: 100%;
  
 }
 .p5{
  position: relative;
  top: 210px;
  z-index: -9;
  width: 100%;
 
 }
 .p6{
  position: relative;
  width: 100%;
  top: 142px;
  
 }
 .page2p{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  gap: 350px;
  
 }
 
 .page3s span{
  font-family: MD Nichrome Test;
   
  font-size: 220%;
  width: 230%,

 }
 .signature {
  font-family: Calligraffitti;
  font-size: 24px;
  font-style: italic; 
}


.empty{
  background-color: #00A859;
  width: 28%;
  height: 2px;
  margin-top: -25px;
  margin-bottom: 20px;
}

.others-card{
  background-color: #00A859 !important;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 9px !important;
 
}
.main-card{
  border-radius: 9px !important;
}
.main-card button{
  padding: 10px 30px;
  border-radius: 9px;
  background-color: white;
  border-color: #00A859;
  color: #00A859;
  border: 1px solid;
  
}
.others-card p{
  
  color: white;
}
.others-card button{
  color: white;
  background-color: #00A859;
  border-color: white;
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 9px;


}
.others-card-body{
  position: absolute;
}

.p21{
 top: -30px;
 position: relative;
 width: 60px !important;
 left: -100px;
 
}
.other-img{
  padding:10px !important;
}


.page6p{
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 350px;
  
 }


 /* product page */
 .bulkholder1::placeholder{
  font-size: 13px ;
  padding-left: 10px ;
 }
 
 .bulkholder2::placeholder{
  font-size: 13px ;
  padding-left: 10px ;
 
 }

 

 





 /* Media screen */
 @media (max-width:600px){
  body{
   
   overflow-x: hidden;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  


  }
  .p1{
    margin-left: -20rem;
  
 }
 .navbar-toggler {

  margin-left: 16rem;
}


.landing{
  margin-top: -6px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.landing p{
  font-size: 80%;
}
.landing h1{
  font-size: 160% !important;
  width: 100% !important;
  text-align: center;

} 
.landing button{
  font-size: 80%;
}

.r1{
  flex-direction: column;
  
}
 .p2{
 width: 20%;
 }

 .p3{
  width: 90%;
  
  left: 1px;
  top: 10px;
}
.p17{
  top: 330px;
  width: 10%;
  right: 150px;
}
.p4{
  width: 100%;
  top: 560px;
  height: 130px ;
 
}
.p5{
  width: 100%;
  top: 410px;
  z-index: -9 !important;
  height: 130px;
 

}
.p6{
  width: 100%;
  top: 398px;
  
}
.p7{
    margin-left: -21px;
}
.p9{
  margin-left: -12px;
}
.p17{
  right: 180px;
  top:340px;
}
.page2{
  margin-top: 32rem !important;
  
}
.page2 h1{
  font-size: 180% !important;


}
.page2p{
  display: flex;
  flex-direction: column;
  gap: 2rem !important;
}
.p15{
  width: 100%;
}
.page3s h1{
  width: 100%;
  font-size: 150%;
  text-align: center;
}
.pmid {
  font-size: 80% !important;
  width: 103% !important;
}
.signature{
  font-size: 70% !important;
}
.psmal{
  font-size: 50% !important;
}
.page4{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  
}
.page4 h1{
  margin-bottom: -8px;
  font-size: 350% !important;
}
.empty{
  margin-top: 0.1%;
  width: 60% ;
}
.page4 p{
  width: 70% !important;
}

 .card{
  width: 100% !important;
  
 }
 .page5{
  margin-top: 3rem !important;
  
}
.page5 h1{
  font-size: 180% !important;


}
.page6 h1{
  width: 107%;
}

.page6p{
  display: flex;
  flex-direction: column;
  gap: 2rem !important;
  align-items: center;
  
}
.hurryimg{
  width: 100%;
}
.page7{
  margin-top: 50px;
}
.page8{
  height: 400px !important;
  width: 100vw !important;
}
.page8 p{
  width: 70% !important;
}
form{
  width: 90vw;
  margin-top: 2rem;
}
.holder{
  width: 90vw !important;
}
.p26{
  left: 200px !important;
  top: 280px !important;
}
.p25{
  left: -1px !important;
}
.footer5{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  margin-left: 1rem;
  padding-bottom: 2rem;
}
.footer6{
  display: flex;
  flex-direction: column;
  align-items: start !important;
  text-align: left !important;
  justify-content: none !important;
}
.senior{
  display: flex;
  flex-direction: column;
   align-items: start;
    
   
}
.sp{
   margin-bottom: 15px !important;
    margin-left: -164px;
}
.sp2{
  display: flex;
  flex-direction: column;
   align-items: start;
   
  
}
.sp3{
  text-align: left;
   align-items: start;

}

.sp1{
  margin-left: -270px;
  margin-bottom: 20px;
}
.p32{
  margin-bottom: 20px;
  margin-left: -7px;
}
.p33{
  margin-bottom: 20px;
  margin-left: -7px;
}
.p34{
  margin-bottom: 20px;
  margin-left: -7px;
}
.p35{
  width: 100%;
}

}

@media (max-width: 992px) {
  .register {
    flex-direction: column !important;
    gap: 2rem !important;
    
  }

  .register-image {
    width: 100% !important;
    max-height: 500px;
    object-fit: cover;
  }

  .register-form-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }

  .register-input {
    width: 100% !important;
    max-width: 400px;
  }

  .password-input-wrapper {
    max-width: 400px;
  }




  /* login */
    .login-page-container {
    flex-direction: column;
    gap: 2rem !important;
   
  }

  .login-left-image {
    width: 100% !important;
     max-height: 500px;
    object-fit: cover;
  }

  .logo-image{
    position: absolute;
    top: 0px;
    left: 10rem!important;
  }

  .login-right-wrapper {
    width: 100% !important;
    padding: 2rem !important;
  }

  .login-email-input {
    width: 100% !important;
  }
}
