@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  
}
body{
  overflow-x: hidden;
  
}


 .nav-list{
display: flex; 

} 
.collapse{

  justify-content: center;
  
  
}

 .navbar-nav{
   gap: 10px;
 }
 .nav-last{
  display: flex;
  align-items: center;
  text-align: center;
  
 }
 .r1{
  position: absolute;
  
  display: flex;
 }
 .landing span{
  font-family: MD Nichrome test;
  font-size: 190%;
  font-weight: 1000;

 }
 .p3{
  position: relative;
  top:-20px ;
  right: 230px;
 }
 .p17{
  position: relative;
  top: 62px;
  right: 145px;
 }
 .p4{
  position: relative;
  top: 500px;
 
  z-index: -9;
  width: 100%;
  
 }
 .p5{
  position: relative;
  top: 210px;
  z-index: -9;
  width: 100%;
 
 }
 .p6{
  position: relative;
  width: 100%;
  top: 142px;
  
 }
 .page2p{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  gap: 350px;
  
 }
 .page3s span{
  font-family: MD Nichrome Test;
   
  font-size: 220%;
  width: 230%,

 }
 .signature {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  font-style: italic; 
}




 /* Media screen */
 @media (max-width:600px){
  body{
   max-width: 100vw;
   overflow-x: hidden;
  }
  .p1{
    margin-left: -20rem;
  
 }
 .navbar-toggler {

  margin-left: 16rem;
}


.landing{
  margin-top: -6px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.landing p{
  font-size: 80%;
}
.landing h1{
  font-size: 180% !important;
  width: 80% !important;
} .landing button{
  font-size: 80%;
}

.r1{
  flex-direction: column;
  
}
 .p2{
 width: 20%;
 }

 .p3{
  width: 90%;
  
  left: 1px;
  top: 10px;
}
.p17{
  top: 330px;
  width: 10%;
  right: 150px;
}
.p4{
  width: 100%;
  top: 650px;
  height: 130px ;
 
}
.p5{
  width: 100%;
  top: 520px;
  z-index: -9 !important;
  height: 130px;
 

}
.p6{
  width: 100%;
  top: 482px;
  
}
.p7{
    margin-left: -21px;
}
.p9{
  margin-left: -12px;
}
.page2{
  margin-top: 32rem !important;
  
}
.page2 h1{
  font-size: 180% !important;


}
.page2p{
  display: flex;
  flex-direction: column;
  gap: 2rem !important;
}




}
